<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="com.qa.NoBrokerTest.HomeTest" />
			<class name="com.qa.NoBrokerTest.search_ListTest" />
			<class name="com.qa.NoBrokerTest.DescriptinTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
